:root {
    --bg-base: #fffaf3;
    --cor-azul: #8ecae6;
    --cor-amarelo: #ffdd93;
    --cor-verde: #a8dadc;
    --cor-rosa: #ffd6e0;
    --cor-botao: #ffb703;
    --cor-botao-hover: #fb8500;
    --texto: #333;
}